{% extends "govuk/template.njk" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set htmlClasses = "govuk-template--rebranded" %}
{% set assetPath = "/govuk/assets" %}

{% block headIcons %}
  <link rel="icon" sizes="48x48" href="/govuk/assets/images/favicon.ico" />
  <link rel="icon" sizes="any" href="/govuk/assets/images/favicon.svg" type="image/svg+xml" />
{% endblock %}

{% block head %}
  {# Use pre-compiled govuk-frontend CSS from node_modules #}
  <link href="/govuk/govuk-frontend.min.css" rel="stylesheet" />
  {# Use webpack-built app CSS if available, otherwise inline autocomplete styles #}
  {% if getAssetPath %}
    <link href="{{ getAssetPath('application.css') }}" rel="stylesheet" />
  {% endif %}
  <link href="/vendor/accessible-autocomplete/accessible-autocomplete.min.css" rel="stylesheet" />
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    classes: "govuk-header--rebranded"
  }) }}
  {{ govukServiceNavigation({
    serviceName: "Import notification service",
    serviceUrl: "/dashboard",
    navigation: [
      { href: "/dashboard", text: "Dashboard", active: activePage == "dashboard" }
    ]
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: { text: "Prototype" },
    html: "This is a prototype. Feedback helps us improve it."
  }) }}
  {% block pageBeforeContent %}{% endblock %}
{% endblock %}

{% block content %}
  {% block main %}{% endblock %}
{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [],
      text: "All content is available under the Open Government Licence v3.0, except where otherwise stated"
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  {# govuk-frontend JS #}
  <script type="module" src="/govuk/govuk-frontend.min.js"></script>
  <script type="module">
    import { initAll } from '/govuk/govuk-frontend.min.js'
    initAll()
  </script>
  {# Accessible autocomplete #}
  <script src="/vendor/accessible-autocomplete/accessible-autocomplete.min.js"></script>
  <script>
    var selectEl = document.querySelector('[data-module="accessible-autocomplete"]')
    if (selectEl) {
      accessibleAutocomplete.enhanceSelectElement({
        selectElement: selectEl,
        minLength: 1,
        showAllValues: true,
        defaultValue: ''
      })
    }
  </script>
{% endblock %}
